@font-face {
	font-family: 'Runescape UF';
	src: url('$lib/runescape_bold.ttf') format('truetype');
}
body {
	margin: 0;
	overflow: hidden;
	font-family: 'Runescape UF', 'Helvetica';
	color: gold;
}
svg {
	width: fit-content !important;
}
